# Database Connection (Neon Postgres / Vercel Postgres / Supabase)
DATABASE_URL="postgresql://neondb_owner:password@ep-lucky-voice-b3kwpdri-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&schema=salka"
DIRECT_URL="postgresql://neondb_owner:password@ep-lucky-voice-b3kwpdri.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&schema=salka"

# JWT Authentication Secret
JWT_SECRET="salka-kasirku-super-secret-key-2026-production"

# App Info
NEXT_PUBLIC_APP_NAME="KasirKu"
NEXT_PUBLIC_API_URL="https://salka.vercel.app"
